<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<footer class="bg-gray-800 text-gray-100 py-8 mt-16">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Thanks To -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Thanks To :</h3>
          <img class="max-w-4xl h-auto" src="https://www.hacktiv8.com/footer_logo.svg" alt="Hacktiv8">
          <p>Alamat: Jl. Sultan Iskandar Muda No.7, Kebayoran Lama, Jakarta Selatan, DKI Jakarta 12240</p>
          <p class="text-sm">Email: <a href="mailto:halo@hacktiv8.com"
            class="text-blue-400 hover:underline">halo@hacktiv8.com</a></p>
        <p class="text-sm">Phone: <a href="tel:(021) 8067 5787" class="text-blue-400 hover:underline">(021) 8067 5787</a>
        </p>
        </div>
  
        <!-- Blank -->
        <div>
  
        </div>
  
        <!-- Contact Information -->
        <div>
          <h3 class="text-lg font-semibold mb-4">Contact Us</h3>
          <p class="text-sm"><b>Back End Developer : Alexander Bryan</b>
          <p class="text-sm">Email: <a href="mailto:alexunderbrain@gmail.com"
              class="text-blue-400 hover:underline">alexunderbrain@gmail.com</a></p>
          <p class="text-sm">Phone: <a href="tel:+62 851-5638-6466" class="text-blue-400 hover:underline">+62 851-5638-6466</a>
            <br>
            <br>
          <p class="text-sm"><b>Front End Developer : Alfi Ridha Ma'rifat</b>
          <p class="text-sm">Email: <a href="mailto:alfipunya0808@gmail.com"
              class="text-blue-400 hover:underline">alfipunya0808@gmail.com</a></p>
          <p class="text-sm">Phone: <a href="tel:+62 882-2041-1492" class="text-blue-400 hover:underline">+62 882-2041-1492</a>
          </p>
        </div>
      </div>
      <div class="text-center mt-8 border-t border-gray-700 pt-4">
        <p class="text-sm">&copy; <span id="year"></span> TxT⤶. All rights reserved.</p>
      </div>
    </div>
</footer>

</body>
</html>