<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Here!</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<%- include("_navbar") %>
<div class="w-full max-w-lg p-6 bg-white border border-gray-200 rounded-lg shadow-lg sm:p-8 md:p-12 dark:bg-gray-800 dark:border-gray-700 mx-auto mt-16 mb-16">
<form class="space-y-8" action="/profileAdd/<%= id %>" method="post">
    <h5 class="text-2xl font-bold text-gray-900 dark:text-white text-center">Profile Setup</h5>

    <label class="block text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Upload profile picture</label>
    <input name="imgUrl" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" type="file">
    
    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input name="name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Full name" required />
    </div>
    <div class="mb-5">
        <label for="dateOfBirth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date of birth</label>
        <input name="dateOfBirth" type="date" id="dateOfBirth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
    </div>
  
    <div class="flex items-start"> 
        <ul class="grid w-full gap-6 md:grid-cols-2">
            <li>
                <input type="radio" id="male" name="gender" value="male" class="hidden peer" required />
                <label for="male" class="inline-flex items-center justify-between w-full p-5 text-blue-500 bg-white border border-blue-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">MALE</div>
                    </div>
                </label>
            </li>
            
            <li>
                <input type="radio" id="female" name="gender" value="female" class="hidden peer" required />
                <label for="female" class="inline-flex items-center justify-between w-full p-5 text-red-500 bg-white border border-red-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-pink-500 peer-checked:border-pink-600 peer-checked:text-pink-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">FEMALE</div>
                    </div>
                
                </label>
            </li>
        </ul>
    </div>

        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-3 
        text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirm</button>
</form>
</div>

<%- include("_footer") %>

</body>
</html>